body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    background-image: url('images/demacia-background.jpg'); /* 德玛西亚背景图 */
    background-size: cover;
    background-position: center center;
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.player, .champion, .highlight {
    margin-bottom: 20px;
    text-align: center;
}

.player-img, .champion-img, .highlight-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
